{% extends 'base_dashboard.html' %}
{% load static %}
{% load humanize %}

{% block title %}Make Payment | {{ site_name }}{% endblock %}

{% block content %}
        <div class="container-fluid mb-5">
                    <div>
    </div>
    <div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="h2">
                    Make payment
                </h1>
                <div>
                    <a href="{% url 'dashboard:deposits' %}" class="btn btn-danger btn-sm">
                        <i class="bi bi-x"></i>
                        Cancel payment
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="avatar avatar-lg text-bg-gray-300 d-flex align-items-center justify-content-center">
                            <i class="bi bi-currency-bitcoin fs-1"></i>
                        </div>
                        <div>
                            <h1>$ {{ transaction.amount }}</h1>
                        </div>
                    </div>
                    <!-- Title -->
                    <h3 class="card-title mt-3 mb-0 text-dark">{{ payment_method.name }}</h3>
                    <span class="text-muted m-0 p-0">Pay via {{ payment_method.name|lower }}</span>
                </div>
            </div>
        </div>
    </div>
                        <div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2" x-data="{
                            address: '{{ payment_method.wallet_address }}',
                            copyToClipboard(text) {
                                if (!navigator.clipboard) {
                                    return alert('Copying to clipboard only works on secure sites viewed through a modern browser.')
                                }
                                navigator.clipboard.writeText(text)
                                    .then(() => {
                                        var toastOptions = {
                                            'closeButton': false,
                                            'debug': false,
                                            'newestOnTop': false,
                                            'progressBar': false,
                                            'positionClass': 'toast-top-right',
                                            'preventDuplicates': false,
                                            'onclick': null,
                                            'showDuration': '300',
                                            'hideDuration': '1000',
                                            'timeOut': '5000',
                                            'extendedTimeOut': '1000',
                                            'showEasing': 'swing',
                                            'hideEasing': 'linear',
                                            'showMethod': 'fadeIn',
                                            'hideMethod': 'fadeOut'
                                        };
                                        Command: toastr['success']('Copied to clipboard', 'Success')
                                        toastr.options = toastOptions;
                                    })
                            },
                        }">
                                                                                                <div class="text-center">
                                        <p class="m-0">Send payment to the wallet address below</p>
                                    </div>
                                                                <div class="mt-5">
                                    <p class="m-0">
                                        Please send ${{ transaction.amount }} to the
                                        Wallet address below  <br><br>Your payment will be approved once your payment has been confirmed on our server

                                    </p>
                                    
                                    
                                    <div class="d-flex mt-2">
                                        <input id="key-02" class="form-control me-3"
                                            value="{{ payment_method.wallet_address }}" readonly>
                                            
                                            
                                        <div>
                                            <!-- Button -->
                                            <button class="clipboard btn btn-link px-0" data-clipboard-target="#key-02"
                                                data-bs-toggle="tooltip" data-bs-title="Copy to clipboard"
                                                x-on:click="copyToClipboard(address)">
                                                <i class="bi bi-clipboard fs-3"></i>
                                            </button>
                                        </div>

                                    </div>
                                                                            <small class="d-block mt-1">
                                            <strong>Network Type:</strong>
                                            {{ payment_method.name }} Network
                                        </small>
                                                                    </div>
                                <button type="button" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
    Mark as Completed
</button>

<div id="exampleModalCenter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalCenterTitle">Upload payment
                    receipt</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" enctype="multipart/form-data"
                onsubmit="document.getElementById('savebtn').disabled = true;">
                {% csrf_token %}                <div class="modal-body m-0">
                    <div class="mb-3">
                        <input type="file" name="proof_image" class="form-control" required>
                    </div>
                    <input type="hidden" name="amount" value="{{ transaction.amount }}">
                    <input type="hidden" name="payment_method" value="{{ payment_method.name }}">
                </div>
                <div class="modal-footer m-0">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="savebtn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
                                                                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            
                        
            </div>

        <!-- Footer -->
        
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
        var stripe = Stripe("pk_test_51JP8qpSBWKZBQRLPUIfQVYfUGly6jhj6hbajKy1nVM9Rvly3v3hQLvXnRqrWCrnUNz1qPQHNSxE689tSAoL00B1iOTNfd");
        var elements = stripe.elements();
        var style = {
            base: {
                color: "#32325d",
            }
        };
        const paybtn = document.querySelector('#stripesubmit');
        paybtn.disabled = true;

        var card = elements.create("card", {
            style: style
        });

        card.mount("#card-element");

        function checkcardforerrors() {
            card.on('change', function(event) {
                if (event.error) {
                    Swal.fire({
                        title: 'Error!',
                        text: event.error.message,
                        icon: 'error',
                    });
                    paybtn.disabled = true;
                } else {
                    paybtn.disabled = false;
                }
            });
        }
        checkcardforerrors();

        var form = document.getElementById('payment-form');

        form.addEventListener('submit', function(ev) {
            paybtn.disabled = true;
            ev.preventDefault();
            checkcardforerrors();
            document.getElementById('spinner').classList.remove('d-none');
            document.getElementById('buttontext').classList.add('d-none');

            // If the client secret was rendered server-side as a data-secret attribute
            // on the <form> element, you can retrieve it here by calling `form.dataset.secret`
            var clientSecret = "";
            stripe.confirmCardPayment(clientSecret, {
                payment_method: {
                    card: card,
                    billing_details: {
                        name: "potus saint patrick"
                    }
                }
            }).then(function(result) {
                if (result.error) {
                    Swal.fire({
                        title: 'Error!',
                        text: 'There was an error processing your payment, Please try depositing again.',
                        icon: 'error',
                    });
                    paybtn.disabled = false;
                    document.getElementById('spinner').classList.add('d-none');
                    document.getElementById('buttontext').classList.remove(
                        'd-none');
                    console.log(result.error.message);
                } else {
                    // The payment has been processed!
                    if (result.paymentIntent.status === 'succeeded') {
                        $.ajax({
                            url: "{% url 'dashboard:accounthistory' %}",  // Stripe not configured
                            type: 'POST',
                            data: $('#selectform').serialize(),
                            success: function(data) {
                                Swal.fire({
                                    title: 'Success!',
                                    text: data.success,
                                    icon: 'success',
                                });
                                setTimeout(function() {
                                    window.location.replace(
                                        "{% url 'dashboard:accounthistory' %}");
                                }, 3000);
                            },
                            error: function(error) {
                                Swal.fire({
                                    title: 'Error!',
                                    text: 'Error Submiting Payment Data',
                                    icon: 'error',
                                    confirmButtonText: 'Okay'
                                });
                                console.log(error);
                                paybtn.disabled = false;
                                document.getElementById('spinner').classList.add('d-none');
                                document.getElementById('buttontext').classList.remove(
                                    'd-none');
                            },
                        });
                    }
                }
            });

        });
    </script>
{% endblock %}
